.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  &__register {
    margin: 1rem;
    padding-top: 4rem;
  }
}

.back__arrow {
  &:hover {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
}

.back__arrow, .logout {
  cursor: pointer;
  margin: 15;
  -webkit-transition: all .25s;
  transition: all .25s;
  &:hover {
    color: #fbd786;
  }
}
