html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
footer,
section,
article,
nav,
canvas,
aside,
figcaption,
figure,
hgroup,
menuitem,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto Mono';
  letter-spacing: .5px;
  background: #000;
  color: white;
  font-size: 1.4rem;
  height: 90vh;
  width: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}
th, tr, td {
  padding: 1rem;
}
td.select, tr.select {
  cursor: pointer;
  -webkit-transition: all .15s;
  transition: all .15s;
  &:hover {
    -webkit-box-shadow: 0 0 8px #c6ffdd;
            box-shadow: 0 0 8px #c6ffdd;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
:focus {
  outline: 0;
}
pre,
code,
kbd,
samp,
tt {
  font-family: 'Roboto Mono';
  font-size: 1em;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 2rem;
  & > div.matches {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    &::-webkit-scrollbar {
      width: 4px;
      height: 100px;
    }
    &::-webkit-scrollbar-track {
      background: black;
    }
    &::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 2rem;
    }
    &::-webkit-scrollbar-thumb:hover {
      -webkit-transition: all .25s;
      transition: all .25s;
      background: #c6ffdd;
    }
  }
}
.root_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65vh;
}

ul {
  padding: 0;
  list-style: none;
}
input, textarea {
 outline: none;
 border-radius: 25px;
 background: transparent;
 padding: 10px 50px;
 margin: .5rem;
 border: 2px solid #c6ffdd;
 color: #c6ffdd;
 text-transform: uppercase;
 font-size: 11px;
 -webkit-transition: border, background .25s;
 transition: border, background .25s;
}
input:focus, textarea:focus {
 border: 2px solid #c6ffdd;
}
input:hover, textarea:hover {
 background: rgba(0, 0, 0, 0.2);
}
input[type=number] {
 height: 60px;
 width: 120px;
 padding: 5px 25px;
}
.sk-cube-grid {
  margin: 6rem;
  width: 100px;
  height: 100px;
}
button {
 text-transform: uppercase;
 width: 50%;
 margin: 1rem;
 border-radius: 50px;
 background: transparent;
 padding: 1rem;
 border: 2px solid #c6ffdd;
 color: #c6ffdd;
 text-transform: uppercase;
 font-size: 11px;
 outline: none;
 cursor: pointer;
 -ms-flex-item-align: center;
     align-self: center;
 -webkit-transition: all .25s;
 transition: all .25s;
}
button:hover {
 background: #c6ffdd;
 color: #1f222e;
 font-weight: bold;
}

a {
 font-size: 1.4rem;
 color: #9f9f9f;
 position: relative;
 padding: .5rem;
 text-decoration: none;
 -webkit-transition: all 0.25s;
 transition: all 0.25s;
}

a:before {
 content: "";
 position: absolute;
 width: 100%;
 height: 1px;
 border: 0;
 background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(255, 255, 255, 0.75)), to(rgba(0, 0, 0, 0)));
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
 bottom: 0;
 left: 0;
 visibility: hidden;
 -webkit-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
 visibility: visible;
 -webkit-transform: scaleX(1);
 transform: scaleX(1);
}

a:hover {
 color: #fff;
}

h1 {
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: calc(2.85rem + 0.73333vw);
  letter-spacing: 0px;
  line-height: 5rem;
  text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}
h2 {
  text-align: center;
  color: #000;
  font-weight:600;
  font-size: calc(1.85rem + 0.73333vw);
  letter-spacing: 2px;
  line-height: 5rem;
  text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}
h1 i {
 position: relative;
 font-size: 70px;
}
p {
 text-align: center;
 color: #fff;
 font-size: 12px;
 margin-bottom: 1em;
 line-height: 2rem;
}
p img {
 position: relative;
 top: 8px;
 right: 10px;
}
